
@font-face {
  font-family: 'bpui-icon';
  src:  url('./bpui-icon.eot');
  src:  url('./bpui-icon.eot#iefix') format('embedded-opentype'),
    url('./bpui-icon.ttf') format('truetype'),
    url('./bpui-icon.woff') format('woff'),
    url('./bpui-icon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.bp-icon {
  font-family: "bpui-icon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  height: 32px;
  width: 32px;
  font-size: 32px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  display: inline-block;
}

/* 下箭头 */
.bp-iconArrowDown:before {
  content: "\e900";
}
/* 左箭头 */
.bp-iconArrowLeft:before {
  content: "\e901";
}
/* 右箭头 */
.bp-iconArrowRight:before {
  content: "\e902";
}
/* 上箭头 */
.bp-iconArrowUp:before {
  content: "\e903";
}
/* 取消 */
.bp-iconCancel:before {
  content: "\e904";
}
/* 删除 */
.bp-iconDelete:before {
  content: "\e905";
}
/* 编辑 */
.bp-iconEdit:before {
  content: "\e906";
}
/* 爱心(填充) */
.bp-iconHeartFill:before {
  content: "\e907";
  color: #f44335;
}
/* 爱心 */
.bp-iconHeart:before {
  content: "\e908";
  color: #f44335;
}
/* 加载 */
.bp-iconLoading {
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}


.bp-iconLoading .path1:before {
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    content: "\e909";
  }
  .bp-iconLoading .path2:before {
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    content: "\e90a";
    margin-left: -1em;
    opacity: 0.95;
  }
  .bp-iconLoading .path3:before {
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    content: "\e90b";
    margin-left: -1em;
    opacity: 0.9;
  }
  .bp-iconLoading .path4:before {
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    content: "\e90c";
    margin-left: -1em;
    opacity: 0.85;
  }
  .bp-iconLoading .path5:before {
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    content: "\e90d";
    margin-left: -1em;
    opacity: 0.8;
  }
  .bp-iconLoading .path6:before {
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    content: "\e90e";
    margin-left: -1em;
    opacity: 0.75;
  }
  .bp-iconLoading .path7:before {
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    content: "\e90f";
    margin-left: -1em;
    opacity: 0.7;
  }
  .bp-iconLoading .path8:before {
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    content: "\e910";
    margin-left: -1em;
    opacity: 0.65;
  }
  .bp-iconLoading .path9:before {
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    content: "\e911";
    margin-left: -1em;
    opacity: 0.6;
  }
  .bp-iconLoading .path10:before {
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    content: "\e912";
    margin-left: -1em;
    opacity: 0.55;
  }
  .bp-iconLoading .path11:before {
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    content: "\e913";
    margin-left: -1em;
    opacity: 0.5;
  }
  .bp-iconLoading .path12:before {
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    content: "\e914";
    margin-left: -1em;
    opacity: 0.45;
  }

.bp-iconLocationPin:before {
  content: "\e915";
}
.bp-iconLocation:before {
  content: "\e916";
}
.bp-iconMenu:before {
  content: "\e917";
}
.bp-iconMinus:before {
  content: "\e918";
}
.bp-iconMore:before {
  content: "\e919";
}
.bp-iconOk:before {
  content: "\e91a";
}
.bp-iconPlus:before {
  content: "\e91b";
}
.bp-iconSetting:before {
  content: "\e91c";
}
.bp-iconStarFill:before {
  content: "\e91d";
  color: #efc75e;
}
.bp-iconStar:before {
  content: "\e91e";
  color: #efc75e;
}
.bp-iconUser:before {
  content: "\e91f";
}
